absl-py==0.7.0
astor==0.7.1
certifi==2018.11.29
chardet==3.0.4
forex-python==1.1
funcsigs==1.0.2
gast==0.2.2
google-apputils==0.4.2
grpcio==1.18.0
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
langdetect==1.0.7
lxml==4.3.1
Markdown==2.6.10
mock==2.0.0
mox==0.5.3
numpy==1.16.1
olefile==0.46
pbr==5.1.2
Pillow==5.4.1
protobuf==3.15.0
python-dateutil==2.8.0
python-gflags==3.1.2
pytz==2018.9
PyYAML==5.1.2
regex==2018.11.22
requests==2.22.0
scikit-learn==0.20.2
scipy==1.2.1
setuptools-scm==3.2.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.14.1
xdg==3.0.2
